@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
:root {
  --orange: rgb(240, 145, 31);
  --black: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--black);
  font-family: "Raleway", sans-serif;
}

.sticky {
  position: sticky;
  top: 0px;
  background-color: black;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 110px;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
header > img {
  width: 150px;
}

.main__container {
  /* max-width: 1200px; */
  margin: auto;
}

.mobile__nav {
  display: none;
}

.mobile__nav__list {
  display: none;
}

#nav__container {
  display: flex;
  height: 70px;
  justify-content: flex-end;
  align-items: center;
}

#nav__container > a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 3px 3px;
  transition: 200ms ease;
}

#active {
  color: orange;
}

#nav__container > a:hover {
  color: var(--orange);
}

#nav__container > a:nth-of-type(5) {
  background-color: var(--orange);
  border-radius: 5px;
  padding: 10px;
  transition: 100ms ease;
  color: black;
}

#nav__container > a:nth-of-type(5):hover {
  scale: 1.2;
  transform: rotate(-3deg);
}

#stor {
  scale: 1.2;
  transform: rotate(-3deg);
}

main {
  background-image: linear-gradient(
      to top,
      rgba(240, 145, 31, 0.4),
      rgba(0, 0, 0, 0.7)
    ),
    url(../images/takstolar.jpeg);
  background-size: cover;
  background-position: 50%;
  background-position-x: left;
}
#section__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  height: 800px;
  margin: 0px auto;
  width: 70%;
}
.section__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.section__left > a {
  background-color: var(--orange);
  border-radius: 5px;
  padding: 10px;
  transition: 100ms ease;
  color: black;
  text-decoration: none;
}

.section__left > a:hover {
  scale: 1.2;
  transform: rotate(-3deg);
}

.section__left > h1 {
  font-size: 60px;
  color: white;
}
.section__left > p {
  font-size: 18px;
  line-height: 30px;
  width: 70%;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  color: white;
  font-size: 16px;
}

.JL__bygg {
  font-size: 20px;
}

.plats {
  font-size: 15px;
}

.social__media > a {
  font-size: 25px;
  color: white;
  transition: 200ms ease;
  margin: 0 5px;
}
.social__media > a:hover {
  color: var(--orange);
}

@media (max-width: 900px) {
  header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }

  #nav__container {
    display: none;
  }

  .mobile__nav {
    display: block;
    color: white;
  }

  .mobile__nav > i {
    font-size: 35px;
    color: var(--orange);
  }

  .mobile__nav__list {
    display: none;
    width: 25%;
    position: absolute;
    top: 90px;
    right: 8px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85);
    margin: 0;
  }

  .mobile__nav__list > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .mobile__nav__list > ul > li {
    margin-top: 10px;
  }
  .mobile__nav__list > ul > li > a {
    text-decoration: none;
    color: white;
  }

  #section__container {
    margin: 0px auto;
    width: 90%;
    height: 600px;
  }
  .section__left {
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
  .section__left > h1 {
    font-size: 40px;
    color: white;
    text-align: center;
  }
  .section__left > p {
    font-size: 16px;
    line-height: 25px;
    width: 90%;
    text-align: center;
  }

  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 130px;
  }

  main {
    height: 600px;
  }

  .samarbet__container {
    height: 480px;
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    background-color: rgb(0, 0, 0);
  }
  .samarbet__container h3 {
    color: white;
  }

  .samarbet__container img {
    width: 150px;
  }

  #jonas {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
  }

  .omoss__container {
    height: 600px;
    color: white;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    line-height: 25px;

  }

  .JL__bygg {
    margin-top: 80px;
    font-size: 20px;
  }
  .plats {
    margin-top: 10px;
  }
  .social__media {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .social__media > a {
    font-size: 25px;
    margin: 0 5px;
  }
}
